## Seleccion de filas y columnas en un archivo CSV

In [2]:
# librerias
import pandas as pd

In [3]:
# cargar los datos
datos = pd.read_csv('./data/ATP.csv')

/tmp/ipykernel_10887/2021138380.py:2: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  datos = pd.read_csv('./data/ATP.csv')

In [4]:
# informacion resumida sobre el dataframe
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46652 entries, 0 to 46651
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         46652 non-null  int64
 1   Location    46652 non-null  object
 2   Tournament  46652 non-null  object
 3   Date        46652 non-null  object
 4   Series      46652 non-null  object
 5   Court       46652 non-null  object
 6   Surface     46652 non-null  object
 7   Round       46652 non-null  object
 8   Best of     46652 non-null  int64
 9   Winner      46652 non-null  object
 10  Loser       46652 non-null  object
 11  WRank       46637 non-null  object
 12  LRank       46581 non-null  object
 13  W1          46423 non-null  float64
 14  L1          46423 non-null  float64
 15  W2          45962 non-null  float64
 16  L2          45963 non-null  float64
 17  W3          21365 non-null  float64
 18  L3          21365 non-null  float64
 19  W4          4226 non-null   float64
 20  L4          4226 non-null   float64
 21  W5          1617 non-null   float64
 22  L5          1617 non-null   float64
 23  Wsets       46462 non-null  float64
 24  Lsets       46462 non-null  float64
 25  Comment     46652 non-null  object
 26  CBW         17507 non-null  float64
 27  CBL         17507 non-null  float64
 28  GBW         5055 non-null   float64
 29  GBL         5055 non-null   float64
 30  IWW         13358 non-null  float64
 31  IWL         13358 non-null  float64
 32  SBW         5424 non-null   float64
 33  SBL         5424 non-null   float64
 34  B365W       38019 non-null  float64
 35  B365L       38042 non-null  float64
 36  B&WW        1097 non-null   float64
 37  B&WL        1097 non-null   float64
 38  EXW         33799 non-null  float64
 39  EXL         33804 non-null  float64
 40  PSW         31729 non-null  float64
 41  PSL         31729 non-null  float64
 42  WPts        30448 non-null  float64
 43  LPts        30396 non-null  float64
 44  UBW         10672 non-null  float64
 45  UBL         10672 non-null  float64
 46  LBW         23230 non-null  float64
 47  LBL         23239 non-null  float64
 48  SJW         15572 non-null  float64
 49  SJL         15579 non-null  float64
 50  MaxW        17104 non-null  float64
 51  MaxL        17104 non-null  float64
 52  AvgW        17104 non-null  float64
 53  AvgL        17104 non-null  float64
dtypes: float64(40), int64(2), object(12)
memory usage: 19.2+ MB

In [5]:
datos.head()

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Escude N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Federer R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Fromberg R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Seleccionar N filas

In [6]:
# selecciona las primeros 5 lineas 
datos.iloc[0:5]

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Escude N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Federer R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Fromberg R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Seleccionar filas especificas a partir de una lista
datos.iloc[[0,3,6,9,12],]

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Federer R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Grosjean S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Lisnard J.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Petrovic D.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
# seleccionar filas y columnas a partir de listas

# seleccionar filas 10, 20 30 y 40 y columnas date y surface
datos.iloc[[10,20,30,40], [3,6]]

         Date Surface
10  3/01/2000    Hard
20  3/01/2000    Hard
30  3/01/2000    Hard
40  3/01/2000    Hard

### Seleccionar N columnas

In [ ]:
datos.iloc[:,0:2]

       ATP        Location
0        1        Adelaide
1        1        Adelaide
2        1        Adelaide
3        1        Adelaide
4        1        Adelaide
...    ...             ...
46647   54  St. Petersburg
46648   54  St. Petersburg
46649   54  St. Petersburg
46650   54  St. Petersburg
46651   54  St. Petersburg

[46652 rows x 2 columns]

In [ ]:
#Seleccionar filas y columnas
datos.iloc[[0,3,6,9], [0,1,2]]

   ATP  Location                          Tournament
0    1  Adelaide  Australian Hardcourt Championships
3    1  Adelaide  Australian Hardcourt Championships
6    1  Adelaide  Australian Hardcourt Championships
9    1  Adelaide  Australian Hardcourt Championships

In [ ]:
#Seleccionar rango de filas y columnas
datos.iloc[0:5,5:8]

     Court Surface      Round
0  Outdoor    Hard  1st Round
1  Outdoor    Hard  1st Round
2  Outdoor    Hard  1st Round
3  Outdoor    Hard  1st Round
4  Outdoor    Hard  1st Round