## Estadistica Basica para un archivo CSV

In [1]:
# librerias
import pandas as pd
import numpy as np

In [2]:
# Cargar los datos del csv
datos = pd.read_csv('./data/ATP.csv')
datos

/tmp/ipykernel_4425/1308432930.py:2: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  datos = pd.read_csv('./data/ATP.csv')

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Escude N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Federer R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Fromberg R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46647,54,St. Petersburg,St. Petersburg Open,23/09/2016,ATP250,Indoor,Hard,Quarterfinals,3,Zverev A.,...,NaN,NaN,1.57,2.38,NaN,NaN,1.66,2.45,1.60,2.30
46648,54,St. Petersburg,St. Petersburg Open,23/09/2016,ATP250,Indoor,Hard,Quarterfinals,3,Wawrinka S.,...,NaN,NaN,1.22,4.33,NaN,NaN,1.24,4.91,1.21,4.34
46649,54,St. Petersburg,St. Petersburg Open,24/09/2016,ATP250,Indoor,Hard,Semifinals,3,Zverev A.,...,NaN,NaN,2.38,1.57,NaN,NaN,3.12,1.57,2.68,1.46
46650,54,St. Petersburg,St. Petersburg Open,24/09/2016,ATP250,Indoor,Hard,Semifinals,3,Wawrinka S.,...,NaN,NaN,1.33,3.40,NaN,NaN,1.41,3.80,1.31,3.40
46651,54,St. Petersburg,St. Petersburg Open,25/09/2016,ATP250,Indoor,Hard,The Final,3,Zverev A.,...,NaN,NaN,3.30,1.33,NaN,NaN,3.58,1.36,3.36,1.31

In [3]:
# Informacion sobre los datos
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46652 entries, 0 to 46651
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         46652 non-null  int64
 1   Location    46652 non-null  object
 2   Tournament  46652 non-null  object
 3   Date        46652 non-null  object
 4   Series      46652 non-null  object
 5   Court       46652 non-null  object
 6   Surface     46652 non-null  object
 7   Round       46652 non-null  object
 8   Best of     46652 non-null  int64
 9   Winner      46652 non-null  object
 10  Loser       46652 non-null  object
 11  WRank       46637 non-null  object
 12  LRank       46581 non-null  object
 13  W1          46423 non-null  float64
 14  L1          46423 non-null  float64
 15  W2          45962 non-null  float64
 16  L2          45963 non-null  float64
 17  W3          21365 non-null  float64
 18  L3          21365 non-null  float64
 19  W4          4226 non-null   float64
 20  L4          4226 non-null   float64
 21  W5          1617 non-null   float64
 22  L5          1617 non-null   float64
 23  Wsets       46462 non-null  float64
 24  Lsets       46462 non-null  float64
 25  Comment     46652 non-null  object
 26  CBW         17507 non-null  float64
 27  CBL         17507 non-null  float64
 28  GBW         5055 non-null   float64
 29  GBL         5055 non-null   float64
 30  IWW         13358 non-null  float64
 31  IWL         13358 non-null  float64
 32  SBW         5424 non-null   float64
 33  SBL         5424 non-null   float64
 34  B365W       38019 non-null  float64
 35  B365L       38042 non-null  float64
 36  B&WW        1097 non-null   float64
 37  B&WL        1097 non-null   float64
 38  EXW         33799 non-null  float64
 39  EXL         33804 non-null  float64
 40  PSW         31729 non-null  float64
 41  PSL         31729 non-null  float64
 42  WPts        30448 non-null  float64
 43  LPts        30396 non-null  float64
 44  UBW         10672 non-null  float64
 45  UBL         10672 non-null  float64
 46  LBW         23230 non-null  float64
 47  LBL         23239 non-null  float64
 48  SJW         15572 non-null  float64
 49  SJL         15579 non-null  float64
 50  MaxW        17104 non-null  float64
 51  MaxL        17104 non-null  float64
 52  AvgW        17104 non-null  float64
 53  AvgL        17104 non-null  float64
dtypes: float64(40), int64(2), object(12)
memory usage: 19.2+ MB

In [4]:
# mostrar solo n registros 
datos.head(5)

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
0,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Dosedel S.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Enqvist T.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Escude N.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Federer R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Adelaide,Australian Hardcourt Championships,3/01/2000,International,Outdoor,Hard,1st Round,3,Fromberg R.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Estadistica de los datos

In [10]:
datos.describe()
# aplica para 42 variables de las 54 debido a que son de tipo numerico

,ATP,Best of,W1,L1,W2,L2,W3,L3,W4,L4,...,UBW,UBL,LBW,LBL,SJW,SJL,MaxW,MaxL,AvgW,AvgL
count,46652.000000,46652.000000,46423.000000,46423.000000,45962.000000,45963.000000,21365.000000,21365.000000,4226.000000,4226.000000,...,10672.000000,10672.000000,23230.000000,23239.000000,15572.000000,15579.000000,17104.000000,17104.000000,17104.000000,17104.000000
mean,32.931000,3.373746,5.792667,4.043211,5.772856,3.853621,6.018254,3.592745,5.777094,3.871510,...,1.815797,3.542452,1.795751,3.510855,1.795808,3.558671,1.991862,9.824993,1.820060,3.706502
std,17.953268,0.780315,1.239261,1.847833,1.253846,1.878397,0.936149,1.767542,1.264913,1.891446,...,0.996191,3.646138,1.023604,3.175995,1.003732,3.272284,1.684590,458.068834,1.117214,3.455871
min,1.000000,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.010000,1.020000,1.000000,1.000000,1.000000,1.010000,1.010000,1.010000,1.010000,1.010000
25%,19.000000,3.000000,6.000000,3.000000,6.000000,2.000000,6.000000,2.000000,6.000000,2.000000,...,1.240000,1.750000,1.222000,1.730000,1.220000,1.730000,1.270000,1.860000,1.220000,1.750000
50%,33.000000,3.000000,6.000000,4.000000,6.000000,4.000000,6.000000,4.000000,6.000000,4.000000,...,1.500000,2.500000,1.500000,2.620000,1.500000,2.630000,1.560000,2.850000,1.480000,2.600000
75%,49.000000,3.000000,6.000000,6.000000,6.000000,6.000000,6.000000,5.000000,6.000000,6.000000,...,2.030000,3.850000,2.000000,4.000000,2.000000,4.000000,2.200000,4.740000,2.030000,4.090000
max,69.000000,5.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,7.000000,...,18.000000,60.000000,26.000000,51.000000,19.000000,81.000000,76.000000,42586.000000,23.450000,36.440000

### Sustituir valores faltantes

In [6]:
df = pd.DataFrame(datos)

In [15]:
df = df.replace(np.nan, '0')
df = df.replace('N/A', '0')
df = df.replace('NR', '0')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46652 entries, 0 to 46651
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         46652 non-null  int64
 1   Location    46652 non-null  object
 2   Tournament  46652 non-null  object
 3   Date        46652 non-null  object
 4   Series      46652 non-null  object
 5   Court       46652 non-null  object
 6   Surface     46652 non-null  object
 7   Round       46652 non-null  object
 8   Best of     46652 non-null  int64
 9   Winner      46652 non-null  object
 10  Loser       46652 non-null  object
 11  WRank       46652 non-null  object
 12  LRank       46652 non-null  object
 13  W1          46652 non-null  object
 14  L1          46652 non-null  object
 15  W2          46652 non-null  object
 16  L2          46652 non-null  object
 17  W3          46652 non-null  object
 18  L3          46652 non-null  object
 19  W4          46652 non-null  object
 20  L4          46652 non-null  object
 21  W5          46652 non-null  object
 22  L5          46652 non-null  object
 23  Wsets       46652 non-null  float64
 24  Lsets       46652 non-null  object
 25  Comment     46652 non-null  object
 26  CBW         46652 non-null  object
 27  CBL         46652 non-null  object
 28  GBW         46652 non-null  object
 29  GBL         46652 non-null  object
 30  IWW         46652 non-null  object
 31  IWL         46652 non-null  object
 32  SBW         46652 non-null  object
 33  SBL         46652 non-null  object
 34  B365W       46652 non-null  object
 35  B365L       46652 non-null  object
 36  B&WW        46652 non-null  object
 37  B&WL        46652 non-null  object
 38  EXW         46652 non-null  object
 39  EXL         46652 non-null  object
 40  PSW         46652 non-null  object
 41  PSL         46652 non-null  object
 42  WPts        46652 non-null  object
 43  LPts        46652 non-null  object
 44  UBW         46652 non-null  object
 45  UBL         46652 non-null  object
 46  LBW         46652 non-null  object
 47  LBL         46652 non-null  object
 48  SJW         46652 non-null  object
 49  SJL         46652 non-null  object
 50  MaxW        46652 non-null  object
 51  MaxL        46652 non-null  object
 52  AvgW        46652 non-null  object
 53  AvgL        46652 non-null  object
dtypes: float64(1), int64(2), object(51)
memory usage: 19.2+ MB

### Estadisiticas de los datos sin NaN

In [16]:
df.describe()
# solo toma dos variables porque son de tipo numerico

                ATP       Best of         Wsets
count  46652.000000  46652.000000  46652.000000
mean      32.931000      3.373746      2.133092
std       17.953268      0.780315      0.481388
min        1.000000     -1.000000      0.000000
25%       19.000000      3.000000      2.000000
50%       33.000000      3.000000      2.000000
75%       49.000000      3.000000      2.000000
max       69.000000      5.000000      3.000000

### Nombre de las variables

In [17]:
list(df)

['ATP',
 'Location',
 'Tournament',
 'Date',
 'Series',
 'Court',
 'Surface',
 'Round',
 'Best of',
 'Winner',
 'Loser',
 'WRank',
 'LRank',
 'W1',
 'L1',
 'W2',
 'L2',
 'W3',
 'L3',
 'W4',
 'L4',
 'W5',
 'L5',
 'Wsets',
 'Lsets',
 'Comment',
 'CBW',
 'CBL',
 'GBW',
 'GBL',
 'IWW',
 'IWL',
 'SBW',
 'SBL',
 'B365W',
 'B365L',
 'B&WW',
 'B&WL',
 'EXW',
 'EXL',
 'PSW',
 'PSL',
 'WPts',
 'LPts',
 'UBW',
 'UBL',
 'LBW',
 'LBL',
 'SJW',
 'SJL',
 'MaxW',
 'MaxL',
 'AvgW',
 'AvgL']

### Convertir variables tipo objects a numericas

In [18]:
df['Wsets'] = df.Wsets.astype(int)
df['WRank'] = df.WRank.astype(int)
df.describe()

                ATP       Best of         WRank         Wsets
count  46652.000000  46652.000000  46652.000000  46652.000000
mean      32.931000      3.373746     59.035926      2.133092
std       17.953268      0.780315     73.296447      0.481388
min        1.000000     -1.000000      0.000000      0.000000
25%       19.000000      3.000000     17.000000      2.000000
50%       33.000000      3.000000     41.000000      2.000000
75%       49.000000      3.000000     77.000000      2.000000
max       69.000000      5.000000   1890.000000      3.000000